<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="landing">
      <h4>Select Your Character</h4>
      <ul id="characters">
        {% for name, user in available_users.items() %}
        <li>
          <a href="{{ url_for('select_user', user_name=name) }}"
            >{{name.title()}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
