<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div id="chat">
      <a href=" {{ url_for('logout', user_name=user_name) }}">Log Out</a>
      <ul id="messages">
        {% for message in messages %}
        <li>{{ message.author }}: {{ message.value}}</li>
        {% endfor %}
      </ul>
      <div id="send-form">
        <input id="message_input" autocomplete="off" />
        <button id="send">Send</button>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    <script type="module">
      import { myPrint } from "/js/my_rsa.js";
      const socket = io();
      myPrint(); // myPrint is not printing in the browser console

      socket.on("connect", function () {
        let username = "{{ user_name }}";
        socket.emit("user_join", username);
      });

      document.getElementById("send").onclick = function () {
        let messageInput = document.getElementById("message_input");
        let author = "{{ user_name }}";
        let message = messageInput.value;

        socket.emit("message", { author: author, payload: message });
        messageInput.value = "";
      };

      socket.on("message", function (data) {
        let ul = document.getElementById("messages");
        let li = document.createElement("li");
        li.appendChild(
          document.createTextNode(data.author + ": " + data.payload)
        );
        ul.appendChild(li);
        ul.scrollTop = ul.scrollHeight;
      });
    </script>
  </body>
</html>
